* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

/* 탭 버튼 스타일 */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

#introduce {
    background-color: red;
}

#photo {
    background-color: green;
}

#Tokyo {
    background-color: blue;
}

#Oslo {
    background-color: orange;
}

/* 첫번째 탭 프로필 스타일 */
.glow {
    font-family: cursive;
    font-size: 35px;
    color: #fff;
    text-align: center;
    animation: glow 0.1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.473);
    background-color: rgba(255, 255, 255, 0.361);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}

/* 두번째 탭 이미지 스타일  */
.column {
    float: left;
    width: 33.3%;
    padding: 10px;
}

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.378);
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}